body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.brand-logo{
    margin-left: 10%;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}
html {
    position: relative;
    min-height: 100%;
}

p { text-align: center }
img{
    border-radius: 20px;
    margin: 3% auto 3% auto;
    height: 150px;
    width : 150px;
}


